/* Landing page container */
.life-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* L.I.F.E. styling */
.life {
  font-family: 'Press Start 2P', monospace;
  align-items: center;
  margin-bottom: 7rem;
}

.life span {
  font-size: 6rem;
  color: var(--textcolor);
}

.life span:last-child {
  letter-spacing: -0.4em; /* Reset for the last character */
}

/* Flashing "PRESS START" */
.press-start {
  font-size: 1.5rem;
  font-family: 'Press Start 2P', monospace;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s ease, opacity 0.5s ease;
  color: var(--textcolor);
}

/* Add animation when clicked */
.press-start.clicked {
  transform: scale(1.2);
  opacity: 0;
}

/* Flashing effect */
.greater-than {
  margin-right: 10px;
  animation: flash 1s infinite;
  color: var(--textcolor);
}

@keyframes flash {
  0%,
  50% {
    opacity: 1;
  }
  50.1%,
  100% {
    opacity: 0;
  }
}

/* Responsive scaling for smaller screens */
@media (max-width: 1000px) {
  .life-page-container {
    transform: scale(0.8);
    transform-origin: center center; /* Ensure scaling happens from the center */
  }
}

@media (max-width: 768px) {
  .life-page-container {
    transform: scale(0.6);
    transform-origin: center center;
  }
}

@media (max-width: 500px) {
  .life-page-container {
    transform: scale(0.4);
    transform-origin: center center;
  }
}
