.top-left-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px; /* Adjust the size as necessary */
  z-index: 10; /* Make sure it's above other elements */
}

/* Main container */
.menu-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}

.menu-title {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  text-indent: 20px;
  border: 3px solid gray;
  background-color: lightgray;
  border-radius: 10px;
  color: var(--black);
  font-size: 1.5rem;
  margin-bottom: -3px;
  z-index: 1;
}

/* Menu options grid layout */
.menu-options {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(2, 1fr); /* 2 rows */
  gap: 10px; /* Add spacing between grid cells */
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px; /* Add padding around the grid */
  box-sizing: border-box; /* Ensure padding doesn't affect the width */
  font-size: 1.5rem;
}

/* Individual menu items */
.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu-item-text {
  font-size: 1rem;
}

.menu-item-icon {
  height: 100px;
}

.forum-text {
  color: orange;
}

.shop-text {
  color: green;
}

.about-text {
  color: red;
}

/* Media query for mobile: 3 rows and 2 columns */
@media (max-width: 768px) {
  .menu-options {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(3, 1fr); /* 3 rows */
  }
}
