/* Main container with grid layout and dynamic columns */
.shop-content-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Adjust based on available width */
  grid-gap: 20px; /* Gap between grid items */
  justify-items: center; /* Center items horizontally */
  width: 80%;
  height: 100%; /* Set a fixed height to enable vertical scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 20px; /* Add padding inside the container */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.shop-content-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
