/* Ensure full screen for the wrapper */
.app-screen {
  height: 100vh;
  width: 100vw;
  background-color: var(--screencolor);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

/* Outer border styling */
.app-computer-border {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  box-sizing: border-box;
  border: 1px solid yellow;
}

/* Inner content centering */
.app-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73.5vw;
  height: 73.5vh;
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
  position: relative;
  z-index: 1000;
  border: 1px solid red;
}

@media (max-width: 600px) {
  .app-content {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 600px) {
  .app-computer-border {
    height: 100%;
    width: 100%;
    border-image-source: url('../data/crt-border.png');
    border-image-slice: 30 fill;
    border-image-width: 50px;
    border-image-repeat: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    box-sizing: border-box;
  }
}
