:root {
  --screencolor: #ffffff;
  --textcolor: #39ff14;
  --black: #000000;
  --primary-white: #ffffff;
  --primary: #dc143c;
  --primary-purple: #675dff;
  --primary-blue-electric: #0077ff;
  --primary-gray-charcoal: #333333;
  --primary-green-neon: #39ff14;
}

body {
  font-family: 'Press Start 2P', monospace;
}
